.color-box{
    $box-size: 10rem;
    width: $box-size;
    height: $box-size;
    border-radius: 1rem;

    color: white;
    cursor: pointer;
    transition: all .25s ease-in-out 0s;  
    box-shadow: rgba(68, 77, 90, 0.5) 0px 2px 8px 0px; 

    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}